a {
	color: #95C901;
}

#wiki-body a {
    font-weight:bold;
}

#wiki-body h1, #wiki-body h2, #wiki-body h3, #wiki-body h4, #wiki-body h5 {
    color: #FD9A01;
    font-weight:bold;
	
    padding: 3px;
    margin-top: 10px;    
}

#wiki-body h1, #wiki-body h2 {
	background-color: #222;
    border-color: #080808;
}

#wiki-outer-body {
	margin-top:15px;
}

subnav-fixed {
	text-align: center;
	
}

.mw-headline {
	text-shadow: 0px;
}
